// fonts
$message-font: 'Inter', sans-serif;
$primary-font: 'Figtree', sans-serif;
// colors
$primary-color: #ffffff;
$black-text: #131923;
$black: #242625;
$secondary-color: #f1f2fb;
$accent-color-first: #eaedff;
$accent-color-second: #fbf2e9;
$background-light-color: #f7f8fb;
$background-transparent-color: rgba(255, 255, 255, 0.8);
$hover-transparent-color: #e1e1e1;
$shadow-color: rgba(0, 0, 0, 0.25);
$divider-color: #c2cbd9;
$error-color: tomato;
$success-color: green;
$disabled-color: #787878;
$active-color: #f1f5ff;

$min-mobile-width: 330px;
$max-desktop-width: 1200px;
