@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:wght@100..900&display=swap');

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  color: #131923;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;

  &:disabled {
    cursor: not-allowed;
  }
}
