@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:wght@100..900&display=swap');
@import './_variables.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: $primary-font;
  font-weight: 400;
  color: $black;
}

:root {
  --primary-color: #{$primary-color};
  --black: #{$black};
  --black-text: #{$black-text};
  --secondary-color: #{$secondary-color};
  --accent-color-first: #{$accent-color-first};
  --accent-color-second: #{$accent-color-second};
  --background-light-color: #{$background-light-color};
  --hover-transparent-color: #{$hover-transparent-color};

  --message-font: #{$message-font};
  --primary-font: #{$primary-font};
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;

  &:disabled {
    cursor: not-allowed;
  }
}
